.content{
    width: calc(100vw - 180px);
    max-width: calc(1400px - 180px);
    min-height: 100vh;
    position: relative;
    left: 180px;
    position: relative;
    z-index: 1;
    padding: 40px 70px;
    background-color: #F3F3F3;
}

@media screen and (max-width: 930px){
    .content{
        width: 100vw;
        left: 0;
    }
}