.menuBar{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 13px;
    background-color: #FFFFFF;
    margin-top: 46px;
}

.menuBar select{
    border: 1px solid #50575E;
    background-color: #FFFFFF;
    padding: 4px 10px;
    border-radius: 3px;
    outline: none;
}

.menuBar button{
    border: 1px solid #B32D2E;
    color: #B32D2E;
    background-color: #FFFFFF;
    padding: 5px 10px;
    margin-left: 15px;
    border-radius: 3px;
}

.mediaBox{
    width: 100%;
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
}

.newMedia{
    width: 162px;
    height: 162px;
    border: 2px solid #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #646464;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.mediaBox .inputFile {
    display: none
}

.mediaSingle{
    width: 162px;
    height: 162px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #C0C0C0;
}

.confirmSubmit{
    background-color: #f44336;
    color: #FFFFFF;
    padding: 20px 40px;
    border-radius: 5px;
    position: fixed;
    z-index: 4;
    left: calc(50% - 50px);
    top: 40%;
    font-size: 17px;
    font-weight: bold;
}

.confirmSubmit:hover{
    background-color: #df3b2f;
    color: #eeeeee;
}

.bgDark{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.6);
}

/*----------------*/
/*  MEDIA-QUERY*/
/*----------------*/
@media screen and (max-width: 1000px){
    .confirmSubmit{
        left: 40%;
        font-size: 14px;
    }
}

@media screen and (max-width: 750px){
    .newMedia{
        width: 130px;
        height: 130px;
    }
    .mediaSingle{
        width: 130px;
        height: 130px;
        margin: 10px 5px;
    }
    .confirmSubmit{
        left: 35%;
    }
}


@media screen and (max-width: 430px){
    .mediaBox{
        flex-direction: column;
        align-items: center;
    }
    .newMedia{
        width: 90%;
        height: 50px;
        font-size: 25px;
    }
    .mediaSingle{
        width: 220px;
        height: 220px;
        margin: 10px 5px;
    }
    .confirmSubmit{
        left: 30%;
    }
}


@media screen and (max-width: 390px){
    .mediaSingle{
        width: 90%;
        height: auto;
    }
    .confirmSubmit{
        left: 27%;
    }
}
