.warningBox{
    width: max-content;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-left: 6px solid #FFA500;
    background-color: #FFFFFF;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 50px;
}

.warningBox i{
    font-size: 35px;
    color: #FFA500;
    margin-right: 20px;
}

.warningBox_info{
    margin-right: 117px;
}

.warningBox_info h3{
    font-size: 19px;
    color: #2C2A2A;
    font-weight: 400;
}

.warningBox_info p{
    font-size: 15px;
    color: #969696;
}

.warningBox button{
    color: #969696;
    background-color: transparent;
    font-size: 14px;
}

@media screen and (max-width: 550px){
    .warningBox{
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width: 390px){
    .warningBox{
        flex-direction: column;
        padding: 20px 0;
    }
    .warningBox_info{
        text-align: center;
        margin-right: 0;
        margin:  20px 0;
    }
    .warningBox i{
        margin-right: 0;
    }
}